.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header a:hover {
    color: red;
    cursor: pointer;
}

.header ul {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.header li {
    display: inline-block;
}

.header li:last-child {
    float: right;
}

.header h1 {
    text-align: center;
}